// footer custom//
.footer-area{
    .container{
        .row{
            .single-footer-caption{
                .footer-tittle{
                    .main-li-post{
                        display: flex;
                    }
                }
            }
        }
    }
}

.product_image_area {
    .container {
        .single_product_text {
            .card_area {
                .pilihan-warna {
                    margin: 20px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .text-pilih-warna {
                        padding: 20px;
                        color: $prod-text-color;
                    }
                    .select-warna {
                        width: 100px;
                        text-align: center;
                    }
                }
            }
        }
    }
}


// faq custom
.main-faq{
    padding: 20px;
}

.main-faq{
    .row{
        .card{
            .card-header{
                padding: 0;
                h5 {
                    .btn-link {
                        white-space: normal;
                        word-wrap: break-word;
                        text-align: left;
                        font-size: 10px;
                        width: 100%;
                        text-decoration: none;
                        p {
                            color: white;

                        }
                    }
                    .btn{
                        background-color: grey;
                    }
                }
            }
        }
    }
}